@import 'main/_mixin'
@import 'main/_variable'
@import 'main/_keyframes'
*
    font-family: 'Roboto', sans-serif
    margin: 0
    padding: 0
    box-sizing: border-box

.container
    width: 1140px
    margin: 0 auto

@import 'block/_promo'
@import 'block/_advantage'
@import 'block/_work'
@import 'block/_agent'
@import 'block/_price'
@import 'block/_manager'
@import 'block/_rewiev'
@import 'block/_consultation'

@import 'block/_promo.media'
@import 'block/_advantage.media'
@import 'block/_work.media'
@import 'block/_agent.media'
@import 'block/_price.media'
@import 'block/_manager.media'
@import 'block/_rewiev.media'
@import 'block/_consultation.media'
